*
{
    margin: 0%;
    padding: 0%;
}
.Calc
{
    position: fixed;
    padding-top: 5%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 80%;
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(green,blue);
}
.Calc .ResultArea
{
    border: 1px solid black;
    height: 100px;
    font-size: 80px;
    padding: 1%;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
}
.Calc .ResultArea:hover
{
    background-color: rgba(0,0,0,0.7);
}
.Row1
{
    display: flex;
}
.Row1 .Numbers
{
    font-size: 80px;
    width: 70px;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(0, 153, 255, 0.5);
}
.Row1 .Numbers:hover
{
    background-color: rgba(0, 153, 255, 0.7);
}
.Row1 .Symbols
{
    font-size: 80px;
    width: 70px;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(0, 255, 13, 0.5);
}
.Row1 .Symbol
{
    font-size: 80px;
    width: 70px;
    border: 1px solid black;
    text-align: center;
    background-color:rgba(255, 0, 0, 0.5);
}
.Row1 .Symbol:hover
{
    background-color:rgba(255, 0, 0, 0.7);
}
.Row1 .Symbols:hover
{
    background-color: rgba(0, 255, 13, 0.7);
}